@font-face {
  font-family: "consola";
  src: local("consola"), url('../../../assets/fonts/consola/CONSOLA.TTF') format("truetype");
}

@font-face {
  font-family: "universe57";
  src: local("universe57"), url('../../../assets/fonts/univers57/Univers57CondensedRegular.otf') format("truetype");
}

@font-face {
  font-family: "kanit";
  src: local("kanit"), url('../../../assets/fonts/kanit/KANIT-REGULAR.TTF') format("truetype");
}

@keyframes flicker {
  0% {
    background-color: #222;
  }

  10% {
    background-color: #4F5555;
    color: #4F5555;
  }

  20% {
    background-color: #222;
    padding-left: 5%;
  }

  30% {
    background-color: #4F5555;
    color: #4F5555;
  }

  40% {
    background-color: #222;
    padding-left: 0%;
  }

  50% {
    background-color: #4F5555;
    color: #4F5555;
  }

  60% {
    background-color: #222;
  }

  80% {
    background-color: #4F5555;
    color: #4F5555;
  }

  100% {
    background-color: #222;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.mb-10 {
  margin-bottom: 10%;
}

.mt-10 {
  margin-top: 10%
}

.responsive-img {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.6);
}

.currentLine {
  margin: 0 10px;
  line-height: 1.2;
  display: flex;
}

.prompt {
  color: #00fe00;
  font-family: 'consola';
  line-height: 1.2;
  margin-right: 5px;
  font-size: medium;
  animation: flicker 0.3s;
}

.unprompt {
  color: #00fe00;
  font-family: 'consola';
  line-height: 1.2;
  margin-right: 5px;
  font-size: medium;
}

.inputContainer {
  flex: 1
}

.input {
  border: none;
  padding: 0;
  margin: 0;
  background: #222;
  color: #00fe00;
  width: 100%;
  font-family: 'consola';
  font-size: medium;
  margin-left: 4px;
  animation: flicker 0.3s;
}

.input:focus {
  outline: 0;
}

.screens {
  background-color: #222;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  display: flex;
  padding-top: 20px;
  padding-left: 10px;
  animation: flicker 0.3s;
  box-shadow: 0 0 20px 10px #2B3030 inset;
}



.computer {
  display: block;
  width: 680px;
  height: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  position: relative;
  box-shadow: 0 80px 60px -60px rgba(0, 0, 0, 0.4);
}

.monitor {
  z-index: 2;
  display: block;
  width: 100%;
  height: 820px;
  border-radius: 30px;
  background-color: #DDDBC2;
  position: absolute;
  background-image: lineear-gradient(#DDDBC2, #DFDAC4);
  background-image: conic-gradient(#DDDBC2 0 10.5%, #ECECD5 11% 11.5%, #CECDAF 12% 38%, #C8C4A7 39% 61.5%, #C7C3A6 62% 88%, #DFDAC4 88.5% 89%, #DDDBC2 89.25%);
  /* Not supported everywhere :( */
  box-shadow: 0 60px 20px -20px rgba(142, 137, 97, 0.5);
}

.monitor-inner {
  display: block;
  width: 640px;
  height: 720px;
  background-image: linear-gradient(#CAC6A9, #CFCEB0);
  margin: auto;
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.screen-cutout {
  display: block;
  width: 560px;
  height: 450px;
  background-color: #DDDBC2;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  border-radius: 10px;
  background-image: linear-gradient(#938F6A, #E0DFC3);
  background-image: conic-gradient(#938F6A 12.5%, #B5B293 15.5% 33%, #E0DFC3 34% 65.5%, #C2C1A2 66.5% 83.5%, #938F6A 86.5%);
}

.screen {
  display: block;
  width: 520px;
  height: 390px;
  background-color: #222;
  /* background-image: radial-gradient(#525B5A, #50585A); */
  margin: auto;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 20px 10px #2B3030 inset;
}

.fadeIn {
  animation: fadeIn 0.2s;
  display: block;
  width: 520px;
  height: 390px;
  background-color: #4F5555;
  background-image: radial-gradient(#525B5A, #50585A);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 20px 10px #2B3030 inset;
}

.logo {
  display: block;
  width: 44px;
  height: 44px;
  background-image: radial-gradient(#C9C6B5, #CBC9BA);
  border-radius: 4px;
  position: absolute;
  left: 44px;
  bottom: 44px;
  padding-left: 3.5px;
  box-shadow: 0 0 2px 0px #979181 inset;
}

.logo p {
  text-align: center;
  margin-top: -2px;
}

.opening {
  display: block;
  width: 310px;
  height: 30px;
  background-image: linear-gradient(#BEBB9C, #CAC8A7 74.5% 75.5%);
  background-image: conic-gradient(#BEBB9C 0% 23.5%, #C7C2A2 24.5% 25%, #DCD8BD 26% 73.5%, #CAC8A7 74.5% 75.5%, #BEBB9C 76.5%);
  position: absolute;
  bottom: 110px;
  right: 42px;
  border-radius: 4px;
}

.opening-inner {
  display: block;
  width: 252px;
  height: 16px;
  background-color: #181914;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 3.5px;
}

.foot {
  display: block;
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 14px;
  background-image: linear-gradient(#BBB497, #C1BE9F);
  box-shadow: 14px 0 3px -7px #CCCAB1 inset,
    -14px 0 3px -7px #CECDB1 inset,
    0 32px 3px -7px #C1BE9F inset,
    0 -6px 3px -4px #AEAA87 inset;
}

.inset {
  display: inline;
  width: 32px;
  height: 32px;
  background-color: #C3BEA0;
  position: absolute;
  bottom: 40px;
  left: 70px;
  border-radius: 4px;
  box-shadow: 0 0 2px #C9C3A3 inset,
    0 0px 2px 1px #BCB694;
}

.switch-container {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #C3BEA0;
  position: absolute;
  right: 60px;
  bottom: 30px;
  border-radius: 6px;
  box-shadow: 1px 1px 5px 0 #000;
  cursor: pointer;
}

.switch-container:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.power-on {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 13px;
  left: 12px;
  border-radius: 6px;
  /* filter: drop-shadow(0px 0px 6px #2bff00);
  text-shadow: -1px 0 #27e001, 0 1px #27e001, 1px 0 #27e001, 0 -1px #27e001;
  color: #2bff00; */

  color: #70ff70;
  text-shadow:
      0 0 7px #60ff60,
      0 0 10px #60ff60,
      0 0 21px #60ff60,
      0 0 42px #00ff00,
      0 0 82px #00ff00,
      0 0 92px #00ff00,
      0 0 102px #00ff00,
      0 0 151px #00ff00;
  animation: fadeIn 1s;
}

.power-off {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 13px;
  left: 12px;
  border-radius: 6px;
  color: #acacac;
}






br {
  display: block;
  content: "";
  margin-top: -8px;
}

.tone-mark {
  display: block;
  content: "";
  margin-top: 0px;
}

.keychron {
  background-color: #eee;
  border: 0;
  border-radius: 3px;
  color: #000000;
  outline: 0;
  position: relative;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'universe57';
  font-style: italic;
}

.keychron:not(:last-of-type) {
  margin-bottom: 4px;
  margin-right: 4px;
}

.keychron:active {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1)
}

.keycaps:active .keycaps-inner-red {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.keycaps:active .keycaps-inner-white {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.keycaps:active .keycaps-inner-gray {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.backspace:active .backspace-inner-gray {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.tab:active .tab-inner-gray {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.capslock:active .capslock-inner-gray {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.enter:active .enter-inner-gray {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.lshift:active .lshift-inner-gray {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.rshift:active .rshift-inner-gray {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.ctrl:active .ctrl-inner-gray {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.space:active .space-inner-white {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.active {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1)
}

.inner-active {
  box-shadow: inset -3px -3px 20px -10px rgba(0, 0, 0, 0.5);
}

.keyboard {
  background-image: linear-gradient(90deg, #222, #000);
  border-radius: 0.5em;
  /* box-shadow: 1em 1em 1.5em rgba(0, 0, 0, 0.6), 0 0 0 0px #aaa inset; */
  box-shadow: 20px 20px 45px rgba(0, 0, 0, 0.6), 0 0 0 0px #aaa inset;
  font-size: 36px;
  /* margin: 3em auto 0 auto; */
  padding: 0.25em;
  padding-top: 20px;
  padding-left: 30px;
  width: 34.65em;
  height: 13.7em;
}

.keyboard-text {
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 48%;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  transform: translateY(-50%) scaleX(0.875);
  width: 100%;
}

.keyboard-text-tone-mark {
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 57%;
  left: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  transform: translateY(-50%) scaleX(0.875);
  width: 100%;
}

.keycaps {
  width: 2em;
  height: 2em;
  z-index: 2;
  display: block;
}

.keycaps-inner-red {
  width: 1.5em;
  height: 1.5em;
  background-color: #b43434;
  position: absolute;
  top: 13%;
  left: 13%;
  border-radius: 5px;
}

.keycaps-inner-gray {
  width: 1.5em;
  height: 1.5em;
  background-color: #63676b;
  position: absolute;
  top: 13%;
  left: 13%;
  border-radius: 5px;
}

.keycaps-inner-white {
  width: 1.5em;
  height: 1.5em;
  background-color: #eee;
  position: absolute;
  top: 13%;
  left: 13%;
  border-radius: 5px;
}

.backspace {
  width: 4.12em;
  height: 2em;
}

.backspace-inner-gray {
  width: 3.52em;
  height: 1.5em;
  background-color: #63676b;
  position: absolute;
  top: 13%;
  left: 7%;
  border-radius: 5px;
}

.tab {
  width: 3.06em;
  height: 2em;
}

.tab-inner-gray {
  width: 2.5em;
  height: 1.5em;
  background-color: #63676b;
  position: absolute;
  top: 13%;
  left: 9%;
  border-radius: 5px;
}

.capslock {
  width: 3.47em;
  height: 2em;
}

.capslock-inner-gray {
  width: 2.91em;
  height: 1.5em;
  background-color: #63676b;
  position: absolute;
  top: 13%;
  left: 9%;
  border-radius: 5px;
}

.enter {
  width: 4.77em;
  height: 2em;
}

.enter-inner-gray {
  width: 4.2em;
  height: 1.5em;
  background-color: #63676b;
  position: absolute;
  top: 14%;
  left: 6%;
  border-radius: 5px;
}

.lshift {
  width: 4.47em;
  height: 2em;
}

.lshift-inner-gray {
  width: 3.9em;
  height: 1.5em;
  background-color: #63676b;
  position: absolute;
  top: 13%;
  left: 7%;
  border-radius: 5px;
}

.rshift {
  width: 3.75em;
  height: 2em;
}

.rshift-inner-gray {
  width: 3.2em;
  height: 1.5em;
  background-color: #63676b;
  position: absolute;
  top: 13%;
  left: 8%;
  border-radius: 5px;
}

.ctrl {
  width: 2.46em;
  height: 2em;
}

.ctrl-inner-gray {
  width: 1.91em;
  height: 1.5em;
  background-color: #63676b;
  position: absolute;
  top: 13%;
  left: 11%;
  border-radius: 5px;
}

.space {
  width: 13.28em;
  height: 2em;
}

.space-inner-white {
  width: 13em;
  height: 1.5em;
  background-color: #eeeeee;
  position: absolute;
  top: 13%;
  left: 1%;
  border-radius: 5px;
}

.keyred {
  background-image: conic-gradient(#b43434 0deg 40deg, #a02b2b 50deg 135deg, #a02b2b 135deg 215deg, #b43434 225deg 300deg, #c73b3b 315deg 320deg, #b43434 330deg);
}

.keywhite {
  background-image: conic-gradient(#eee 0deg 40deg, #cfcfcf 50deg 135deg, #cfcfcf 135deg 215deg, #eee 225deg 300deg, #fdfdfd 315deg 320deg, #eee 330deg);
}

.space-keywhite {
  background-image: conic-gradient(#eee 0deg 82deg, #cfcfcf 90deg 135deg, #cfcfcf 135deg 255deg, #eee 270deg 270deg, #ffffff 275deg 276deg, #eee 277deg);
}

.keygray {
  background-image: conic-gradient(#63676b 0deg 40deg, #565a5e 50deg 135deg, #565a5e 135deg 215deg, #63676b 225deg 300deg, #6b6f74 315deg 320deg, #63676b 330deg);
}

.backspace-keygray {
  background-image: conic-gradient(#63676b 0deg 63deg, #565a5e 70deg 150deg, #565a5e 150deg 245deg, #63676b 255deg 280deg, #6f7379 290deg 295deg, #63676b 300deg);
}

.tab-keygray {
  background-image: conic-gradient(#63676b 0deg 55deg, #565a5e 65deg 135deg, #565a5e 135deg 240deg, #63676b 250deg 285deg, #6f7379 295deg 300deg, #63676b 310deg);
}

.capslock-keygray {
  background-image: conic-gradient(#63676b 0deg 55deg, #565a5e 65deg 135deg, #565a5e 135deg 240deg, #63676b 250deg 287deg, #6f7379 295deg 300deg, #63676b 310deg);
}

.enter-keygray {
  background-image: conic-gradient(#63676b 0deg 65deg, #565a5e 75deg 135deg, #565a5e 135deg 245deg, #63676b 255deg 283deg, #6f7379 287deg 290deg, #63676b 295deg);
}

.lshift-keygray {
  background-image: conic-gradient(#63676b 0deg 65deg, #565a5e 75deg 135deg, #565a5e 135deg 245deg, #63676b 255deg 284deg, #6f7379 287deg 290deg, #63676b 298deg);
}

.rshift-keygray {
  background-image: conic-gradient(#63676b 0deg 60deg, #565a5e 70deg 135deg, #565a5e 135deg 240deg, #63676b 255deg 280deg, #6f7379 290deg 295deg, #63676b 300deg);
}

.ctrl-keygray {
  background-image: conic-gradient(#63676b 0deg 50deg, #565a5e 60deg 135deg, #565a5e 135deg 225deg, #63676b 245deg 295deg, #6b6f74 305deg 310deg, #63676b 315deg);
}

.fa-brands {
  color: #2c2c2c;
}

.fa-crop {
  font-style: italic;
}


.introduce {
  margin-top: 15%;
  font-family: 'kanit';
}

.hi {
  font-size: calc(60% + 1.6vmin);
  font-weight: bold;
}

.title {
  font-size: calc(60% + 5vmin);
  font-weight: bolder;
}

.subject {
  /* font-size: 50px; */
  font-size: calc(60% + 4.3vmin);
  font-weight: bolder;
}

.description {
  font-size: calc(60% + 1.1vmin);
  line-height: calc(60% + 2.4vmin);;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.skill-logo {
  width: auto;
  height: 60px;
  border-radius: 10px;
}

.skill-subject {
  font-size: calc(60% + 2vmin);
}

.experience {
  font-size: calc(60% + 1.2vmin);
}

#nt-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
}

#rmutt-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 10px;
  cursor: pointer;
}

.project {
  font-size: calc(60% + 1.2vmin);
}

.project-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  border-radius: 10px;
  cursor: pointer;
}



/* contact us */

h1 {
  font-family: 'kanit';
  font-weight: 600;
  color: #000;
  text-align: center;
  font-size: calc(60% + 6.4vmin);
}

h4 {
  font-family: 'kanit';
  font-weight: 400;
  color: #000;
  line-height: 1.5;
  font-size: calc(60% + 1.1vmin);
}

/* ///// inputs /////*/

.contact-input:focus ~ label, textarea:focus ~ label, .contact-input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 10px;
  /* font-family: 'kanit'; */
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: rgb(185, 185, 185);
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

.contact-input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #383838;
  color: white;
  border-radius: 10px;
}

.contact-input:focus,
textarea:focus { outline: 0; }

.contact-input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 0px auto;
}

.submit-btn {
  float: right;
  padding: 10px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #383838;
  font-family: 'kanit';
  color: rgb(209, 209, 209);
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

.text-danger {
  font-family: 'kanit';
}

.test {
  background-color: red;
  position: relative;
  width: 100%;
  padding-top: 40%; /* 4:3 Aspect Ratio */
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}
